body {
    font-family:'Inria Serif', serif;
    background-color: lightgrey;
}
h2 {
    text-align: center;
    color: rgb(158, 107, 107);
    text-decoration: none;
    
}
p {
    text-align: center;
    color: rgb(158, 107, 107);
    text-decoration: none;
   
}
a {
    text-align: center;
    color:rgb(158, 107, 107);
    text-decoration: none;
}
.box {
    border: 1px solid black;
}
